# Gradle
/android/app/build/
/android/app/gradle/
/android/app/gradlew
/android/app/gradlew.bat
/android/.idea
*.gradle/

Examples/android/app/build/
Examples/android/app/gradle/
Examples/android/app/gradlew
Examples/android/app/gradlew.bat
Examples/android/app/.idea
*.iml

# Android
Examples/android/.idea
Examples/android/.gradle
Examples/android/local.properties
.idea

#iOS
ios/Pods/Pods.xcodeproj/xcuserdata/
ios/Pods/
ios/ViroReact.xcodeproj/xcuserdata/
ios/ViroReact.xcworkspace/xcuserdata/
Examples/ios/ViroExample.xcworkspace/xcuserdata/
Examples/ios/ViroExample/Pods/Pods.xcodeproj/xcuserdata/
Examples/ios/ViroExample/ViroExample.xcodeproj/xcuserdata/
Examples/ios/ViroExample/ViroExample.xcworkspace/xcuserdata/
Examples/ios/ViroExample/ViroExample.xcworkspace/xcshareddata/
ios/ngrokendpoint.txt

# Node
Examples/node_modules
npm-debug.log

*.DS_Store
*local.properties
*build/
react-viro*.tgz
