# Gradle
/android/app/build/
/android/app/gradle/
/android/app/gradlew
/android/app/gradlew.bat
/android/.idea
*.gradle/

Examples/android/app/build/
Examples/android/app/gradle/
Examples/android/app/gradlew
Examples/android/app/gradlew.bat
Examples/android/app/.idea
*.iml

# Android
Examples/android/.idea
Examples/android/.gradle
Examples/android/local.properties


# Node
Examples/node_modules

*.DS_Store
*local.properties
*build/
