# Gradle
/android/app/build/
/android/app/gradle/
/android/app/gradlew
/android/app/gradlew.bat
/android/.idea
*.gradle/

test/android/app/build/
test/android/app/gradle/
test/android/app/gradlew
test/android/app/gradlew.bat
test/android/app/.idea
*.iml

# Android
android/.idea
test/android/app/.idea
test/android/.gradle
test/android/local.properties
.idea

#iOS
ios/Pods/Pods.xcodeproj/xcuserdata/
ios/Pods/
ios/ViroReact.xcodeproj/xcuserdata/
ios/ViroReact.xcworkspace/xcuserdata/
test/ios/ViroExample.xcworkspace/xcuserdata/
test/ios/ViroExample/Pods/Pods.xcodeproj/xcuserdata/
test/ios/ViroExample/ViroExample.xcodeproj/xcuserdata/
test/ios/ViroExample/ViroExample.xcworkspace/xcuserdata/
test/ios/ViroExample/Pods/
ios/ngrokendpoint.txt
ios/ViroRenderer/ViroKit.framework/_CodeSignature/

# Figment Android
Figment/android/.idea
Figment/android/.gradle
Figment/android/local.properties
Figment/android/app/build/
Figment/android/app/gradle/
Figment/android/app/gradlew
Figment/android/app/gradlew.bat
Figment/android/app/.idea

# Figment iOS
Figment/ios/Figment.xcworkspace/xcuserdata/
Figment/ios/Figment.xcodeproj/xcuserdata/
Figment/ios/Figment.xcworkspace/xcshareddata/
Figment/ios/Pods/
Figment/ios/Podfile.lock
Figment/ios/ngrokendpoint.txt


# Node
node_modules
npm-debug.log
yarn.lock

.DS_Store
local.properties
build/
react-viro*.tgz


# Fastlane
ios/fastlane/report.xml
ios/fastlane/README.md
android/fastlane/report.xml
android/fastlane/README.md
test/ios/fastlane/report.xml
test/ios/fastlane/README.md
test/android/fastlane/README.md
test/android/fastlane/report.xml
